{{>libraryimp}}
{{>navbar}}
<h1 class="aboutme">Contact US</h1>

<p class="AboutMePara">You can send us an email on –
deepanshugupta598@gmail.com
<br ><span class="darks"> Social media handles are</span> –
<br>Facebook – The yes Bank
<br>Instagram – theyesbank
<br>You can contact us for collaboration or for paid promotions. We will try to reach back to you as soon as possible.

For any query regarding any post or content send us a message at our social media handles.
<br>
<span class="darks">THANK YOU</span></p>
{{>footer}}

