{{>libraryimp}}
{{>navbar}}
  <button class="btn btn-lg btn-primary btn-block" >Amout</button>
    <button class="btn btn-lg btn-primary btn-block" >Withdrwal</button>
      <button class="btn btn-lg btn-primary btn-block" >Change Password</button>
        <button class="btn btn-lg btn-primary btn-block" >ACC DETAILS</button>
       
{{>footer}}

